body{margin: 0px;}



.background{height: 100vh;
width: 100vw;
background-image: url("../image/mountain\ background.jpg ");
background-size: cover;
background-position:center ;}





.flag{height: 200px;
    position: fixed;
width: 200px;
background-image: url("../image/jhanda.jpg");
background-position: center;
background-size: cover;
left: 42%;
 top: 2%;
 animation: flag-move 2s  infinite alternate;}
 
 @keyframes flag-move {
    0% {
        transform: skewX(3deg);
    }
    100% {
        transform: rotateY(25deg);
        opacity: 0.5;
    }
    
    
}

.bird{height:100px;
width:150px;
background-image:url("../image/bird.jpg");
background-size: cover;
position: relative;
left: 80%;
top:5%;
animation: bird-fly 15s  infinite ;
display: inline-block;

}


@keyframes bird-fly {
    0%{
        transform: rotateY(45deg);
    left: 75%;
    height: 90px;
    width: 140px;
        
    }
    20%{ transform: rotateX(45deg);
        left: 70%;
        height: 80px;
        width: 130px;


    }
    40%{transform: rotateY(45deg);
        left: 65%;
        height: 70px;
        width: 120px;
        


    }
    60%{transform: rotatex(45deg);
        left: 60%;
        height: 60px;
        width: 110px;
        
        

    }
80%{
    transform: rotateY(45deg);
    left: 57%;
    height: 50px;
        width: 100px;
}


100%{
    transform: rotateX(45deg);
    left: 55%;
    height: 50px;
        width: 100px;
        
    
}
    
}


.jet i{font-size: 50px;
margin: 10px;}

.jet{ height: 100px;
    width: 150px;
    background-size: cover;
    background-position: center; 
    display: inline-block;
    position:fixed;
    top:5%;
    left: 0%;
animation:plane 15s  infinite;}

@keyframes plane{0%{ left: 0%;
    color: orange;
    transform: rotate3d(1, 1, 1, 79deg);
}
20% {
    color: white;
    left: 16%;
    transform: rotate3d(1, 1, 1, 81deg);
    
}
40% {
    transform: translateX(40%);
    color: green;
    left: 29%;
}
60% {
    transform: rotate3d(1, 1, 1, 46deg);
    left: 48%;
    top: 18%;
    color: orange;
}
80% {
    left: 84%;
    color: white;
    transform: rotate(275deg);}
    90%{
        left: 75%;
        transform: rotate3d(1, 1, 1, 226deg);
    }


100% {
    transform: translateX(10px);
    left: 4%;
    color: green;
    transform: rotate3d(1, 1, 1, 285deg);

}
    }

    .soldier{    background-image: url("../image/soldier.jpg");
        width: 94px;
        height: 103px;
        background-position: center;
        background-size: cover;
        position: fixed;
        left: 81%;
        top: 43%;
        
    }
.soldier i{ font-size: 70px;
    margin-left: 67px;
    display: inline-block;
    animation: color 5s infinite;
    position: absolute;
    top: -47%;
}
h2{font-size: 18px;
    margin-top: -50px;
    color: black;
    margin-left: 13px;
}


@keyframes color  {
    0%{ color: green;

}
50%{ color:white;}
    
100%{
        color:orange;
    }
}


